extends layout

block stylesheets
  link(rel='stylesheet', href='/bower_components/chessboard.js/css/chessboard.min.css')
  link(rel='stylesheet', href='/css/game.css')

block content
    div.contain-to-grid
        nav.top-bar(data-topbar)
            ul.title-area
                li.name
                    h1
                        a(href='/') chesscast
    br
    div.row
        div.small-12.columns
            h1 Game #{game.id} 
            p Match created #{game.created.toLocaleDateString()}
    hr
    div.row
        div.small-12.medium-6.columns
            div#board

        div.small-12.medium-6.columns
            div.analysis-text
    

block scripts
  script.
    var fen = '#{game.fen}'
  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/chessboard.js/js/chessboard.min.js')
  script(src='/bower_components/socket.io-client/dist/socket.io.min.js')
  script(src='/js/game-ui.js')
  script(src='/js/magicgraph.js')
