extends layout

block stylesheets
  link(rel='stylesheet', href='/bower_components/chessboard.js/css/chessboard.min.css')

block content
  div#board(style="width:600px;")

block scripts
  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/chessboard.js/js/chessboard.min.js')
  script(src='/js/game-ui.js')