extends layout

block content
	header
		div.row
			div.small-12.header-content
				h1 chesscast 
				h4 the chess streaming platform
				a(href="/#{latestId}" class="button") View the latest game

block stylesheets
	link(rel='stylesheet', href='/css/home.css')
	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat')