doctype html
html
  head
    title='chesscast'
    block stylesheets
    link(rel='stylesheet', href='/bower_components/foundation/css/foundation.min.css')
    meta(name="viewport",content="width=device-width")
  body
    block content
    block scripts